nextflow.enable.dsl=2

manifest {
  name        = 'roshab-cli'
  description = 'microbiome taxonomic classification and evaluation of cyanotoxin biosynthesis potential from nanopore reads'
  mainScript  = 'main.nf'
}

params {

  // print CLI help message
  help           = false

  // workflow parameters
  skip_qc        = false
  skip_nanoplot  = false

  // modules parameters
  bracken_length    = 300
  chopper_headcrop  = 80
  chopper_tailcrop  = 50
  chopper_minlength = 500
  chopper_minq      = 9
  kraken_db         = ''
  genomes_db        = ''
  genes_db          = ''

  // containers
  bracken_container     = 'quay.io/biocontainers/bracken:3.1--h9948957_0'
  chopper_container     = 'quay.io/biocontainers/chopper:0.9.0--hdcf5f25_0'
  coreutils_container   = 'quay.io/biocontainers/coreutils:9.5'
  coverm_container      = 'quay.io/biocontainers/coverm:0.7.0--hcb7b614_4'
  diamond_container     = 'quay.io/biocontainers/diamond:2.1.23--hf93d47f_0'
  kraken_container      = 'quay.io/biocontainers/kraken2:2.17.1--pl5321h077b44d_0'
  krakentools_container = 'quay.io/biocontainers/krakentools:1.2.1--pyh7e72e81_0'
  minimap_container     = 'quay.io/biocontainers/minimap2:2.30--h577a1d6_0'
  multiqc_container     = 'quay.io/biocontainers/multiqc:1.33--pyhdfd78af_0'
  nanoplot_container    = 'quay.io/biocontainers/nanoplot:1.46.1--pyhdfd78af_0'
  python_container      = 'dsamoht/bio-utils'
  seqkit_container      = 'quay.io/biocontainers/seqkit:2.13.0--he881be0_0'

}

profiles {

  docker {
    docker.enabled         = true
    conda.enabled          = false
    singularity.enabled    = false
    apptainer.enabled      = false
    docker.runOptions      = '-u $(id -u):$(id -g)'
  }
  singularity {
    singularity.enabled    = true
    singularity.autoMounts = true
    conda.enabled          = false
    apptainer.enabled      = false
    docker.enabled         = false
    singularity.cacheDir   = "${projectDir}/singularity_cache"
  }
  apptainer {
    apptainer.enabled      = true
    apptainer.autoMounts   = true
    conda.enabled          = false
    docker.enabled         = false
    singularity.enabled    = false
    singularity.cacheDir   = "${projectDir}/apptainer_cache"
  }
  install {
    cleanup = true
  }
  test {
    includeConfig "${projectDir}/conf/test.config"
  }

}
