process {
    executor = 'local'
    cpus     = 8
}

params {
    input      = "https://github.com/dsamoht/roshab-cli/raw/refs/heads/main/tests/data/samplesheet_test.csv"
    outdir     = "${projectDir}/tests/roshab-cli_output"
    kraken_db  = "https://genome-idx.s3.amazonaws.com/kraken/k2_viral_20260226.tar.gz"
    genomes_db = "https://github.com/dsamoht/roshab-cli/raw/refs/heads/main/tests/data/coverm_db_test.tar.gz"
    genes_db   = "https://zenodo.org/records/19522349/files/core_cyanotoxin-related_gene_mibig-v4_antismash-v8.faa"
}

outputDir = params.outdir