/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run dsamoht/roshab-cli -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input      = "${projectDir}/tests/data/samplesheet_test.csv"

    // Output directory
    outdir     = "${projectDir}/tests/roshab-cli_out"

    // Reference databases: a viral Kraken2 index and a two-genome CoverM database
    // keep the test small enough to run on GitHub Actions runners.
    kraken_db  = 'https://genome-idx.s3.amazonaws.com/kraken/k2_viral_20260226.tar.gz'
    genomes_db = "${projectDir}/tests/data/coverm_db_test.tar.gz"
    genes_db   = 'https://zenodo.org/records/19522349/files/core_cyanotoxin-related_gene_mibig-v4_antismash-v8.faa'
}
